@charset "UTF-8";
:root {
  --clr-base: #494646;
  --clr-base-dark: #000;
  --clr-att: #F86501;
  --clr-att-hover: #f59f66;
  --clr-light: rgba(73, 70, 70, 0.5);
  --clr-bg: #001E44;
  --clr-border: #001E44;
  --clr-border-light: rgba(73, 70, 70, 0.5);
  --filter-dark: brightness(0) grayscale(1);
  --filter-white: brightness(0) invert(1);
  --min: 1024px;
  --max: 1920px;
  --paddingContainer: 20px;
  font-size: 10px;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base);
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
}
p,
ul,
ol,
table,
blockquote,
.bq-text {
  position: relative;
  margin-bottom: 1.5em;
}
p img,
ul img,
ol img,
table img,
blockquote img,
.bq-text img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child,
table:last-child,
blockquote:last-child,
.bq-text:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
}
.list-totals li {
  margin-bottom: 20px;
  padding-left: 0;
  line-height: 1.3;
}
.list-totals li:before {
  display: none;
}
.list-totals li:last-child {
  margin-bottom: 0;
}
.list-totals .li-title {
  font-size: 14px;
  font-weight: bold;
}
.list-totals .li-value {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--clr-att);
}
.menu,
.list {
  margin: 0;
  padding: 0;
}
.menu li,
.list li {
  margin: 0;
  padding: 0;
}
.menu li:before,
.list li:before {
  display: none;
}
a {
  text-decoration: none;
  color: var(--clr-att);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att-hover);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
.link-phone {
  white-space: nowrap;
}
.page-title,
h1,
.h1-title,
h2,
.h2-title,
h3,
.h3-title,
h4,
.h4-title,
h5,
.h5-title,
h6,
.h6-title {
  display: block;
  position: relative;
  font-weight: bold;
  margin: 1em 0;
}
.page-title:first-child,
h1:first-child,
.h1-title:first-child,
h2:first-child,
.h2-title:first-child,
h3:first-child,
.h3-title:first-child,
h4:first-child,
.h4-title:first-child,
h5:first-child,
.h5-title:first-child,
h6:first-child,
.h6-title:first-child {
  margin-top: 0;
}
.page-title:last-child,
h1:last-child,
.h1-title:last-child,
h2:last-child,
.h2-title:last-child,
h3:last-child,
.h3-title:last-child,
h4:last-child,
.h4-title:last-child,
h5:last-child,
.h5-title:last-child,
h6:last-child,
.h6-title:last-child {
  margin-bottom: 0;
}
.page-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.text-att,
.title-att {
  color: var(--clr-att);
}
.text-light,
.title-light {
  color: var(--clr-light);
}
.text-center,
.title-center {
  text-align: center;
}
table.tbl-main {
  width: 100%;
  margin-bottom: 50px;
  margin-bottom: 5rem;
  font-size: 12px;
  line-height: 1.3;
  color: var(--clr-base);
}
table.tbl-main tbody tr:last-child th,
table.tbl-main tbody tr:last-child td {
  border-bottom: none;
}
table.tbl-main thead th,
table.tbl-main thead td {
  vertical-align: top;
  color: rgba(73, 70, 70, 0.6);
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom-color: var(--clr-base);
}
table.tbl-main th,
table.tbl-main td {
  vertical-align: middle;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(73, 70, 70, 0.2);
  padding: 12px 20px;
  font-weight: 400;
}
table.tbl-main .tbl-info {
  display: inline;
  font-size: 10px;
  color: rgba(73, 70, 70, 0.5);
}
table.tbl-main .tr-att {
  color: #f00;
}
table.tbl-main .tr-att .tbl-info {
  color: rgba(255, 0, 0, 0.5);
}
table.tbl-main .tr-selected th,
table.tbl-main .tr-selected td {
  background: rgba(248, 101, 1, 0.5);
}
@media (max-width: 1399px) {
  :root {
    font-size: 9.5px;
  }
}
@media (max-width: 1199px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 1023px) {
  :root {
    font-size: 8px;
  }
}
@media (max-width: 767px) {
  :root {
    font-size: 7px;
  }
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}
body {
  width: 100vw;
}
.cnt-full-wrap {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
}
.inner-wrap,
.page-full {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  min-width: var(--min);
  max-width: var(--max);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page-full .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page-full .cnt-section {
  min-width: 0;
}
.page-full {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 250px;
  padding-top: 70px;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.nav,
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.nav ul,
.header ul,
.footer ul,
.nav li,
.header li,
.footer li,
.nav p,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.nav ul:before,
.header ul:before,
.footer ul:before,
.nav li:before,
.header li:before,
.footer li:before,
.nav p:before,
.header p:before,
.footer p:before {
  display: none;
}
.nav a,
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  transition: all ease 0.2s;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 30, 68, 0.5);
}
.header .inner-wrap {
  height: 70px;
  padding-left: 258px;
  max-width: 100%;
}
.header .menu-wrap {
  width: 70px;
  height: 70px;
  position: static;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .logo-wrap {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 12;
}
.header .logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 70px;
  text-align: center;
  color: #808EA1;
}
.popup-menu-wrap .popup-content-block {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 70px;
  width: 250px;
  z-index: 10;
  background: var(--clr-bg);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.popup-menu-wrap .menu {
  padding: 60px 0;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.popup-menu-wrap .menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.popup-menu-wrap .menu li {
  margin-bottom: 25px;
}
.popup-menu-wrap .menu li:last-child {
  margin-bottom: 0;
}
.popup-menu-wrap .btn-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 40px;
  padding: 0 32px 0 27px;
  color: #fff;
}
.popup-menu-wrap .btn-menu:hover,
.popup-menu-wrap .btn-menu.active {
  color: #fff;
  background: rgba(255, 255, 255, 0.5);
}
.popup-menu-wrap .btn-menu.active {
  font-weight: bold;
}
.popup-menu-wrap .btn-menu .button-title {
  padding: 5px 10px 5px 0;
  -ms-flex: 1;
      flex: 1;
}
.popup-menu-wrap .btn-menu .button-ico {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.popup-menu-wrap .btn-popup {
  width: 70px;
  height: 70px;
}
.logo {
  display: block;
  position: relative;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  width: 100%;
  letter-spacing: normal;
  font-weight: 400;
  color: #808EA1;
}
.logo:hover {
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1023px) {
  .section-mobile-full {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
  }
}
@media (min-width: 1024px) {
  .wrap {
    transition: padding-left ease 0.2s;
  }
  .popup-menu-wrap .popup-content-block {
    transition: left ease 0.2s;
  }
  .header .logo {
    transition: color ease 0.2s;
  }
  body:not(.menu-show) .wrap {
    padding-left: 0;
  }
  body:not(.menu-show) .header .logo {
    color: var(--clr-base);
  }
  body:not(.menu-show) .popup-menu-wrap .popup-content-block {
    left: -250px;
  }
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .wrap {
    padding-left: 0;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-status {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 10px;
  line-height: 1.5;
  color: rgba(73, 70, 70, 0.7);
}
.item-tile-status .tile-title {
  width: 205px;
  padding: 0 10px 0 0;
  text-align: right;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-status .tile-title ~ .tile-title {
  -ms-flex: 1;
      flex: 1;
  padding: 0 0 0 10px;
  text-align: left;
}
.item-tile-status .tile-ico {
  width: 40px;
  height: 40px;
}
.item-tile-status .btn-action-ico {
  width: 30px;
  height: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-status .btn-action-ico img,
.item-tile-status .btn-action-ico svg {
  max-width: 20px;
  max-height: 20px;
}
.item-tile-status .btn-action-ico ~ .tile-title {
  padding-left: 5px;
}
.item-tile-info {
  display: block;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(73, 70, 70, 0.5);
  background: rgba(217, 217, 217, 0);
  padding: 9px 20px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
.item-tile-info b {
  font-weight: 600;
}
.item-tile-info.tile-row {
  display: -ms-flexbox;
  display: flex;
  min-height: 56px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 0;
}
.item-tile-info.tile-row .info-title-text {
  padding: 0 20px 0 0;
  width: auto;
  min-width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item-tile-info .text-light {
  font-weight: 400;
  color: rgba(73, 70, 70, 0.5);
}
.item-tile-dashboard-panel {
  border-radius: 2rem;
  background: var(--clr-bg);
  color: #fff;
  padding: 17px 30px 10px 30px;
  padding: 17px 3rem 10px 3rem;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
  max-width: 344px;
  max-width: 34.4rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.item-tile-dashboard-panel .tile-sections-wrap {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
.item-tile-dashboard-panel .tile-section-wrap {
  width: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 10px;
  -ms-flex: 1;
      flex: 1;
}
.item-tile-dashboard-panel .tile-footer-wrap {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 50px;
  margin-top: 5rem;
}
.item-tile-dashboard-panel .tile-section-title,
.item-tile-dashboard-panel .tile-footer-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.35714286;
  text-align: center;
  margin: 0;
}
.item-tile-dashboard-panel .tile-footer-title {
  font-size: 16px;
  line-height: 2.0625;
}
.item-tile-dashboard-panel .tile-section-value {
  width: 100%;
  margin: 0 auto;
  max-width: 108px;
  height: 108px;
  line-height: 108px;
  display: block;
  position: relative;
  background: #fff;
  overflow: hidden;
  text-align: center;
  color: var(--clr-bg);
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
}
:is([class^="item-tile"]):hover .elm-photo img,
:is([class^="item-tile"]):hover .tile-photo img {
  transform: scale(1.03);
}
.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
}
.elm-photo.photo-main,
.tile-photo.photo-main {
  border: 1px solid #f00;
  width: 300px;
  height: 300px;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
  transition: all ease-out 1s;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@supports (aspect-ratio: 1) {
  .elm-photo:not(.photo-cover, .photo-contain),
  .tile-photo:not(.photo-cover, .photo-contain) {
    aspect-ratio: inherit !important;
  }
  .photo-cover,
  .photo-contain {
    aspect-ratio: 1;
  }
  .photo-cover:before,
  .photo-contain:before {
    display: none !important;
  }
}
.elm-price,
.tile-price {
  white-space: nowrap;
}
.elm-price.price-old,
.tile-price.price-old {
  text-decoration: line-through;
}
[data-unit]:after {
  content: attr(data-unit);
  font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico,
.lbl-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.lbl-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.lbl-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.lbl-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg,
.lbl-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.elm-overlay {
  display: none;
  animation: fadein ease 0.2s;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 120;
}
.elm-overlay.active {
  display: block;
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.statuses-box {
  margin-bottom: 50px;
  margin-bottom: 5rem;
}
.statuses-box .item-wrap {
  margin-bottom: 20px;
}
.statuses-box .item-wrap:last-child {
  margin-bottom: 0;
}
.info-box {
  margin-bottom: 20px;
}
.article-box {
  margin-bottom: 50px;
  margin-bottom: 5rem;
}
.article-box:last-child {
  margin-bottom: 0;
}
.article-box .inner-title {
  font-size: 1em;
  font-weight: 400;
  line-height: inherit;
  margin-bottom: 8px;
  margin-top: 0;
}
.form-box {
  margin-bottom: 50px;
  margin-bottom: 5rem;
}
.form-box .frm-field-title {
  font-weight: 400;
}
.form-box .frm-field {
  padding: 0 14px;
  padding: 0 1.4rem;
  margin-bottom: 16px;
}
.form-box .frm-row {
  margin: 0 -14px;
  margin: 0 -1.4rem;
}
.form-box .field-info-text {
  display: block;
  font-size: 14px;
  padding-left: 10px;
  line-height: 1.5;
}
.form-box .field-info-text b {
  font-weight: 600;
}
.form-box .text-light {
  color: rgba(73, 70, 70, 0.5);
  font-weight: inherit;
}
.form-box .row-info {
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.form-box .row-button {
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
}
.form-box .row-button .btn {
  width: 100%;
  border-radius: 12px;
  font-weight: bold;
}
.form-box .row-check {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.form-box .row-check .frm-select {
  margin-left: 5px;
  margin-bottom: 10px;
}
.form-box .row-check .frm-select:last-child {
  margin-bottom: 0;
}
.form-box .frm-content:not(.active) {
  display: none;
}
.form-box .frm-field-side {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 20px;
  left: 100%;
  margin-left: 15px;
  margin-top: -14px;
}
.form-box .btn-action-ico {
  width: 28px;
  height: 28px;
}
.form-box .btn-action-ico.btn {
  width: 28px;
  border-radius: 50%;
}
.content-side-wrap .form-box {
  padding-right: 60px;
  max-width: 420px;
}
.section-content-box {
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.section-content-box.section-separate:before {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: clamp(100px, 60%, 870px);
  position: absolute;
  width: 1px;
  background: #000;
}
.section-content-box.section-separate .content-wrap {
  max-width: 870px;
  padding-right: 70px;
}
.section-content-box.section-separate .content-wrap,
.section-content-box.section-separate .content-side-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-content-box .content-wrap {
  -ms-flex: 1;
      flex: 1;
  max-width: 800px;
  position: relative;
}
.section-content-box .content-side-wrap {
  width: 40%;
  padding-left: 80px;
  padding-left: 8rem;
  position: relative;
}
.tabs-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 32px;
  margin-bottom: 3.2rem;
  margin-top: 10px;
  margin-top: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tabs-box:first-child {
  margin-top: 0;
}
.tabs-box .menu-wrap {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 50px;
}
.tabs-box .actions-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.tabs-box .check-wrap {
  min-width: 268px;
  padding: 10px 19px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tabs-box .check-wrap .frm-select.select-att {
  color: var(--clr-att);
}
.tabs-box .action-wrap {
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 19px;
}
.tabs-box .action-wrap .btn-action-ico {
  width: 50px;
  width: 5rem;
  height: 50px;
  height: 5rem;
}
.tabs-box .action-wrap .btn-action-ico:before {
  background-size: 100% auto;
}
.tabs-box .action-wrap .btn-action-ico img,
.tabs-box .action-wrap .btn-action-ico svg {
  max-width: 100%;
  max-height: 100%;
}
.tabs-box .menu {
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  width: 100%;
}
.tabs-box li {
  -ms-flex: 1;
      flex: 1;
}
.filter-box {
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-top: 2.5rem;
  display: none;
}
.filter-box .frm-row {
  margin: 0 -14px;
  margin: 0 -1.4rem;
  -ms-flex-align: end;
      align-items: flex-end;
}
.filter-box .frm-field {
  margin-bottom: 6px;
  padding: 0 14px;
  padding: 0 1.4rem;
  width: 33.33%;
  max-width: 390px;
}
.filter-box .field-actions {
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-align: end;
      align-items: flex-end;
  padding-top: 10px;
}
.filter-box .field-action {
  padding: 0 25px 0 0;
  padding: 0 2.5rem 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.filter-box .field-action:last-child {
  padding-right: 0;
}
.filter-box .field-action .btn {
  min-width: 186px;
}
.filter-box .field-action .btn.button-reset {
  min-width: 0;
}
.filter-box .form-input {
  padding-left: 9px;
}
.filter-box select.form-input {
  padding-left: 9px;
}
.table-box {
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.table-box::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.table-box table {
  min-width: 1600px;
}
.dashboard-box {
  margin-bottom: 80px;
  margin-bottom: 8rem;
  margin-top: 30px;
  margin-top: 3rem;
}
.dashboard-box:first-child {
  margin-top: 0;
}
.dashboard-box .sections-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.dashboard-box .section-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 15px;
  width: 33.33%;
}
.dashboard-box .section-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin: 0 0 100px 0;
  margin: 0 0 10rem 0;
}
.dashboard-box .items-wrap {
  margin: 0 -15px -100px -15px;
  margin: 0 -15px -10rem -15px;
}
.dashboard-box .item-wrap {
  padding: 0 15px;
  margin-bottom: 100px;
  margin-bottom: 10rem;
}
.dashboard-box .frm-field {
  margin-bottom: 25px;
  margin-bottom: 2.5rem;
}
.dashboard-box .list-totals {
  padding-top: 5px;
}
.dashboard-box .title-left {
  text-align: left;
}
.table-inner-box table {
  width: 100%;
  table-layout: fixed;
  margin: 0;
}
.table-inner-box table .col-check {
  width: 40px;
}
.table-inner-box table thead th,
.table-inner-box table thead td {
  -ms-flex-align: bottom;
      align-items: bottom;
  font-size: 12px;
  line-height: 1.3;
  font-weight: bold;
  color: var(--clr-att);
}
.table-inner-box table thead th.th-v,
.table-inner-box table thead td.th-v {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding-right: 0;
  padding-left: 20px;
}
.table-inner-box table .tr-att th,
.table-inner-box table .tr-att td {
  padding-top: 15px;
}
.table-inner-box table .tr-att:not(.active) ~ tr {
  display: none;
}
.table-inner-box table tr {
  animation: fadein ease 0.2s;
}
.table-inner-box table th,
.table-inner-box table td {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  padding: 5px 10px 5px 0;
  text-align: left;
  vertical-align: middle;
  border: none;
}
.table-inner-box table th:last-child,
.table-inner-box table td:last-child {
  padding-right: 0;
}
.table-inner-box table th.td-check,
.table-inner-box table td.td-check {
  padding-right: 20px;
}
.table-inner-box table .btn-action-ico {
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
}
.table-inner-box table .td-title {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 20px;
}
.table-inner-box table .td-title.title-att {
  color: var(--clr-att);
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  min-width: 160px;
  padding-left: 0;
}
.table-inner-box table .td-title:last-child {
  padding-right: 0;
}
.table-inner-box table .td-title-info {
  display: inline;
  color: rgba(73, 70, 70, 0.5);
}
.settings-main-box {
  margin-bottom: 80px;
  margin-bottom: 8rem;
  font-size: 13px;
  line-height: 1.3;
  padding-right: 250px;
  padding-right: 25rem;
  /* .frm-select {
		&:not(.select-att) {
			input {
				&:checked {
					&~label {
						&:before {
							background-color: var(--clr-base);
						}
						&:after {
							filter: var(--filter-white);
						}
					}
				}
			}
		}
	} */
}
.settings-main-box:first-child {
  margin-top: 0;
}
.settings-main-box .title-inner-wrap {
  font-size: 15px;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  color: var(--clr-att);
}
.settings-main-box .title-inner-wrap .title-wrap {
  display: block;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.settings-main-box .title-inner-wrap .title-wrap:first-child {
  width: 35px;
}
.settings-main-box .title-inner-wrap .title-wrap:nth-child(2) {
  -ms-flex: 1;
      flex: 1;
  padding-left: 20px;
  text-align: left;
}
.settings-main-box .title-inner-wrap .title-wrap:nth-child(3) {
  width: 58.5%;
}
.settings-main-box .items-inner-wrap {
  display: -ms-flexbox;
  display: flex;
}
.settings-main-box .items-wrap {
  -ms-flex: 1;
      flex: 1;
  min-width: 0;
  width: auto;
  display: block;
  padding-top: 28px;
  padding-top: 2.8rem;
}
.settings-main-box .tabs-wrap {
  width: 58.5%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 15px 60px;
  padding: 15px 6rem;
  border-radius: 10px;
  border: 1px solid rgba(106, 106, 106, 0.5);
  background: rgba(217, 217, 217, 0);
}
.settings-main-box .btn-tab {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  padding: 6px 0;
}
.settings-main-box .btn-tab:hover .button-title,
.settings-main-box .btn-tab.active .button-title {
  border-bottom-color: rgba(106, 106, 106, 0.5);
}
.settings-main-box .btn-tab.active .button-title {
  font-weight: bold;
}
.settings-main-box .btn-tab .button-number {
  width: 35px;
  text-align: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.settings-main-box .btn-tab .button-title {
  -ms-flex: 1;
      flex: 1;
  margin-left: 20px;
  padding-right: 15px;
  color: var(--clr-base);
  display: block;
  border-bottom: 1px solid #fff;
}
.settings-main-box .list {
  width: 100%;
}
.settings-form-box {
  margin-bottom: 80px;
  margin-bottom: 8rem;
  padding-right: 70px;
  padding-right: 7rem;
}
.settings-form-box .frm-row {
  margin: 0 -14px;
  margin: 0 -1.4rem;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.settings-form-box .frm-field {
  padding: 0 14px;
  padding: 0 1.4rem;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}
.settings-form-box .field-number {
  width: 60px;
  text-align: center;
  color: var(--clr-att);
  padding: 0;
}
.settings-form-box .field-move {
  width: 40px;
  padding: 0;
}
.settings-form-box .field-main {
  -ms-flex: 1;
      flex: 1;
  width: auto;
}
.settings-form-box .field-actions {
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.settings-form-box .btn-action-ico {
  width: 60px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.settings-form-box .button-hidden {
  display: none;
}
.settings-form-box .row-title {
  -ms-flex-align: stretch;
      align-items: stretch;
  position: relative;
  margin-bottom: 20px;
}
.settings-form-box .row-title .frm-field {
  padding-bottom: 16px;
}
.settings-form-box .row-title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 14px;
  left: 1.4rem;
  right: 14px;
  right: 1.4rem;
  height: 1px;
  background: var(--clr-base);
}
.settings-form-box .row-title .frm-field {
  text-align: center;
  color: var(--clr-att);
}
.settings-form-box .form-input {
  text-align: center;
}
.folders-list-box {
  padding-left: 60px;
  padding-left: 6rem;
  margin: 70px 0 20px 0;
  margin: 7rem 0 2rem 0;
}
.folders-list-box:first-child {
  margin-top: 0;
}
.folders-list-box .list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.folders-list-box .list li {
  padding: 0 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 200px;
  width: clamp(170px, 14.28%, 200px);
  margin-bottom: 60px;
  margin-bottom: 6rem;
}
.folders-list-box .list.list-rows {
  columns: 2;
  column-gap: 8rem;
  display: block;
}
.folders-list-box .list.list-rows li {
  width: 100%;
  break-inside: avoid-column;
  margin-bottom: 20px;
}
.page-buttons-actions-box {
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5px;
}
.page-buttons-actions-box .buttons-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.page-buttons-actions-box .button-wrap {
  padding: 0 10px 0 0;
  margin-bottom: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.page-buttons-actions-box .button-wrap .btn {
  height: 70px;
  min-height: 100%;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  white-space: normal;
  width: 200px;
}
.page-buttons-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid rgba(106, 106, 106, 0.5);
  border-bottom: 1px solid rgba(106, 106, 106, 0.5);
  margin-left: calc(var(--paddingContainer) * -1);
  margin-right: calc(var(--paddingContainer) * -1);
  padding-left: var(--paddingContainer);
  padding-right: var(--paddingContainer);
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: 40px;
}
.page-buttons-box .check-inner-wrap {
  -ms-flex: 1;
      flex: 1;
  padding-left: 30px;
}
.page-buttons-box .buttons-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 20px;
}
.page-buttons-box .button-wrap {
  padding: 0 30px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.page-buttons-box .btn-action-ico {
  width: 50px;
  height: 50px;
}
.page-actions-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5px;
}
.page-actions-box.filter-include {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.page-actions-box.filter-include .nav-inner-wrap {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.page-actions-box .nav-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1;
      flex: 1;
  padding: 15px 0;
}
.page-actions-box .filter-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 0 5px 0;
}
.page-actions-box .filter-inner-wrap .check-wrap,
.page-actions-box .filter-inner-wrap .button-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 19px;
  padding: 0 1.9rem;
  margin-bottom: 10px;
  width: auto;
}
.page-actions-box .filter-inner-wrap .button-300 {
  width: 300px;
}
.page-actions-box .filter-inner-wrap .form-input.inp-att {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-size: 12px auto;
}
.page-actions-box .filter-inner-wrap .form-input.inp-att option {
  font-weight: 400;
}
.page-actions-box .buttons-inner-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 20px;
}
.page-actions-box .buttons-inner-wrap .btn-action-ico {
  width: 50px;
  height: 50px;
}
.page-actions-box .button-wrap {
  padding: 0 30px;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.page-actions-box .nav-wrap,
.page-actions-box .title-wrap {
  padding: 0 20px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;
}
.page-actions-box .nav-wrap .btn {
  font-size: 14px;
  font-weight: bold;
  padding: 0 22px 0 0;
}
.page-actions-box .nav-wrap .btn .button-ico {
  margin-right: 6px;
}
.tab-box {
  margin-bottom: 40px;
  margin-bottom: 4rem;
}
@media (max-width: 1599px) {
  .section-content-box .content-side-wrap {
    padding-left: 40px;
  }
  .settings-main-box {
    padding-right: 0;
  }
  .settings-main-box .tabs-wrap {
    padding-left: 24px;
    padding-right: 24px;
  }
  .settings-form-box {
    padding-right: 0;
  }
  .settings-form-box .field-move {
    width: 40px;
  }
  .folders-list-box .list.list-rows {
    columns: 1;
  }
  .folders-list-box {
    padding-left: 0;
  }
  .page-buttons-box .check-inner-wrap,
  .page-actions-box .check-inner-wrap {
    padding-left: 0;
  }
  .page-buttons-box .buttons-inner-wrap,
  .page-actions-box .buttons-inner-wrap {
    padding-right: 0;
  }
  .page-buttons-box .button-wrap,
  .page-actions-box .button-wrap {
    padding: 0 15px;
  }
}
/* ----------------------------------- *\
			inputs elements styles
\* ----------------------------------- */
.form-input[placeholder] {
  text-overflow: ellipsis;
}
.form-input {
  text-overflow: ellipsis;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(73, 70, 70, 0.2);
  background: #fff;
  padding: 0 20px;
  font-size: 12px;
  color: var(--clr-base);
}
.form-input.inp-att {
  border-color: var(--clr-att);
  background-color: var(--clr-att);
  color: #fff;
}
.form-input.inp-att option {
  color: var(--clr-base);
}
select.form-input {
  cursor: pointer;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 40px;
  background-image: url(../img/icons/arrow-select.svg);
  background-position: right 10px center;
  background-size: 14px auto;
  background-color: #fff;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none!important;
  line-height: 1em;
  text-indent: 0.01px;
  outline: none;
}
select.form-input.form-input-clear {
  height: auto;
  border: none;
  min-height: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: inherit;
  padding: 0 16px 0 0;
  color: inherit;
  font-weight: bold;
  background-image: url(../img/icons/arrow-select.png);
  background-size: 8px auto;
  background-repeat: no-repeat;
  background-position: right center;
}
select::-ms-expand {
  display: none;
}
select.form-input:required:invalid {
  color: #ADADAD;
}
select.form-input.inp-att:required:invalid {
  color: #fff;
}
.btn {
  height: 40px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  background: var(--clr-bg);
  border: 1px solid var(--clr-bg);
  color: #fff;
}
.btn:hover {
  border-color: var(--clr-att-hover);
  background-color: var(--clr-att-hover);
  color: #fff;
}
.btn.button-att {
  border-color: rgba(0, 30, 68, 0.2);
  background-color: var(--clr-att);
  color: #fff;
}
.btn.button-att:hover,
.btn.button-att.active {
  border-color: var(--clr-att-hover);
  background-color: var(--clr-att-hover);
  color: #fff;
}
.btn.button-att.button-border {
  background-color: transparent;
  border-color: var(--clr-att);
  color: var(--clr-att);
}
.btn.button-att.button-border:hover,
.btn.button-att.button-border.active {
  background-color: var(--clr-att);
  border-color: var(--clr-att);
  color: #fff;
}
.btn.button-tab.active {
  border-color: rgba(0, 30, 68, 0.2);
  background-color: var(--clr-att);
  color: #fff;
}
.btn.button-tab.active:hover {
  border-color: var(--clr-att-hover);
  background-color: var(--clr-att-hover);
  color: #fff;
}
.btn.button-tab-small {
  height: 27px;
  font-size: 15px;
  padding: 0 20px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  border-width: 1px;
  font-weight: 400;
  background-color: transparent;
  color: var(--clr-bg);
}
.btn.button-tab-small:hover,
.btn.button-tab-small.active {
  background-color: var(--clr-bg);
  border-color: var(--clr-bg);
  color: #fff;
}
.btn.button-tab-small:hover .button-ico,
.btn.button-tab-small.active .button-ico {
  filter: brightness(0) invert(1);
}
.btn.button-tab-small.active {
  font-weight: 600;
}
.btn.button-clear {
  width: auto;
  height: auto;
  line-height: 24px;
  color: inherit;
  white-space: normal;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  min-width: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-weight: inherit;
}
.btn.button-clear:hover {
  border: none;
  background: none;
  color: var(--clr-att);
}
.btn.button-clear .button-ico {
  width: 24px;
  height: 24px;
  filter: none;
}
.btn.button-reset {
  -ms-flex-align: end;
      align-items: flex-end;
}
.btn.button-reset .button-ico {
  width: 20px;
  height: 20px;
}
.btn.button-border {
  background-color: transparent;
  color: var(--clr-bg);
}
.btn.button-border:hover,
.btn.button-border.active {
  background-color: var(--clr-bg);
  border-color: var(--clr-bg);
  color: #fff;
}
.btn.button-border:hover .button-ico,
.btn.button-border.active .button-ico {
  filter: brightness(0) invert(1);
}
.btn .button-ico {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  transition: all ease 0.2s;
}
.btn .button-ico:last-child {
  margin-right: 0;
}
.btn .button-ico:first-child {
  margin-left: 0;
}
.btn .button-title[data-title]:before {
  content: attr(data-title);
}
.btn .button-title[data-show]:before {
  content: attr(data-show);
}
.btn.active .button-title[data-title-active]:before {
  content: attr(data-title-active);
}
.btn.active .button-title[data-hide]:before {
  content: attr(data-hide);
}
.btn-action-ico {
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all ease 0.2s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.btn-action-ico:not(.btn) {
  background: none;
  border: none;
  box-shadow: none;
}
.btn-action-ico.btn {
  min-width: 0;
  min-height: 0;
  padding: 0;
  display: block;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico [class*="icon-"],
.btn-action-ico img,
.btn-action-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all ease 0.2s;
}
.btn-action-ico img,
.btn-action-ico svg {
  max-width: 24px;
  max-height: 24px;
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px auto;
}
.btn-action-ico:hover {
  text-decoration: none;
}
.btn-action-ico:hover:not(.btn) {
  background: none;
  box-shadow: none;
}
.btn-action-ico.ico-del:before {
  background-image: url(../img/icons/del.svg);
  background-size: 35px auto;
}
.btn-action-ico.ico-minus:before,
.btn-action-ico.ico-plus:before,
.btn-action-ico.ico-minus:after,
.btn-action-ico.ico-plus:after {
  width: 16px;
  height: 2px;
  background: var(--clr-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -8px;
}
.btn-action-ico.ico-minus.btn.button-border:hover:before,
.btn-action-ico.ico-plus.btn.button-border:hover:before,
.btn-action-ico.ico-minus.btn.button-border:hover:after,
.btn-action-ico.ico-plus.btn.button-border:hover:after {
  background-color: #fff;
}
.btn-action-ico.ico-plus:before {
  transform: rotate(90deg);
}
.btn-action-ico.ico-arrow {
  z-index: 20;
  cursor: pointer;
}
.btn-action-ico.ico-arrow:before {
  background-image: url(../img/icons/arrow-slider.png);
}
.btn-action-ico.ico-arrow-prev:before {
  transform: rotate(180deg);
}
.btn-action-ico.ico-move:before {
  background-image: url(../img/icons/move.svg);
}
.btn-action-ico.ico-date:before {
  background-image: url(../img/icons/date.png);
  background-size: 30px auto;
}
.btn-action-ico.ico-view-toggle:before {
  background-image: url(../img/icons/view-hidden.png);
  background-size: 20px auto;
}
.btn-action-ico.ico-view-toggle:after {
  background-image: url(../img/icons/view-visible.png);
  background-size: 20px auto;
  opacity: 0;
}
.btn-action-ico.ico-view-toggle.active:before {
  opacity: 0;
}
.btn-action-ico.ico-view-toggle.active:after {
  opacity: 1;
}
.btn-action-ico.ico-menu {
  /* &.active {
            &:after {
                height: 4px;
                margin-top: -2px;
                border-top: none;
                .t-rotate(-45deg);
            }
            &:before {
                .t-rotate(45deg);
            }
        } */
}
.btn-action-ico.ico-menu:after,
.btn-action-ico.ico-menu:before {
  width: 50px;
  height: 34px;
  border-top: 4px solid var(--clr-base);
  border-bottom: 4px solid var(--clr-base);
  margin: -17px 0 0 -25px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
}
.btn-action-ico.ico-menu:before {
  height: 4px;
  margin-top: -2px;
  border-top: none;
}
.btn-action-ico.ico-close:after,
.btn-action-ico.ico-close:before {
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin: -1px 0 0 -10px;
  background: var(--clr-base);
}
.btn-action-ico.ico-close:before {
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:after {
  transform: rotate(-45deg);
}
.btn-action-ico.button-soc img,
.btn-action-ico.button-soc svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-ico.button-soc:hover {
  opacity: 0.8;
}
.btn-action-ico.button-action img,
.btn-action-ico.button-action svg {
  max-width: 100%;
  max-height: 100%;
}
.btn-action-ico.button-action:not(:hover, .active):before,
.btn-action-ico.button-action:not(:hover, .active):after,
.btn-action-ico.button-action:not(:hover, .active) img,
.btn-action-ico.button-action:not(:hover, .active) svg {
  filter: var(--filter-dark);
}
.btn-action-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  color: inherit;
}
.btn-action-icon.button-att {
  color: var(--clr-att);
}
.btn-action-icon.button-att .button-ico {
  filter: none;
}
.btn-action-icon:hover {
  color: var(--clr-att);
}
.btn-action-icon:hover .button-ico {
  filter: none;
}
.btn-action-icon .button-ico {
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  filter: brightness(0) grayscale(1);
}
.btn-action-icon .button-ico + .button-title {
  padding-left: 10px;
}
.btn-action-icon .button-title {
  display: block;
}
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-field-textarea {
  display: block;
  position: relative;
  border-radius: 12px;
  border: 1px solid rgba(73, 70, 70, 0.2);
}
.frm-field-textarea textarea.form-input,
.frm-field-textarea .form-input {
  display: block;
  height: 313px;
  height: 31.3rem;
  border: none;
  border-radius: 0;
  background: none;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  color: var(--clr-base);
  line-height: 1.5;
  font-weight: 400;
}
.frm-field-buttons-panel {
  background: rgba(0, 30, 68, 0);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 12px;
  border: 1px solid var(--clr-bg);
  padding: 8px 0 8px 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.frm-field-buttons-panel .field-group-wrap {
  display: -ms-flexbox;
  display: flex;
  margin: 0 32px 0 0;
  margin: 0 3.2rem 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.frm-field-buttons-panel .field-button {
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 8px 0 0;
}
.frm-field-buttons-panel .field-button:last-child {
  margin-right: 0;
}
.frm-field-buttons-panel .btn-action-ico {
  border-radius: 4px;
}
.frm-field-buttons-panel .btn-action-ico:hover,
.frm-field-buttons-panel .btn-action-ico.active {
  background-color: var(--clr-bg);
}
.frm-field-buttons-panel .btn-action-ico:hover img,
.frm-field-buttons-panel .btn-action-ico.active img,
.frm-field-buttons-panel .btn-action-ico:hover svg,
.frm-field-buttons-panel .btn-action-ico.active svg {
  filter: brightness(0) invert(1);
}
.frm-field-date-range {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}
.frm-field-date-range .field-range {
  padding: 0 10px;
  position: relative;
}
.frm-field-date-range .field-range:first-child:after {
  content: "-";
  display: block;
  position: absolute;
  bottom: 0;
  left: 100%;
  margin-left: -10px;
  width: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: var(--clr-base);
  font-weight: 400;
}
.frm-field-date-range .form-input {
  padding-right: 40px;
  background-image: url(../img/icons/calendar.svg);
  background-size: 18px auto;
  background-position: right 10px center;
  background-repeat: no-repeat;
}
.frm-field-date {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.frm-field-date .field-date-title {
  min-width: 70px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 10px 0 0;
  display: block;
  font-size: 12px;
  white-space: nowrap;
}
.frm-field-date .field-date-input {
  -ms-flex: 1;
      flex: 1;
  max-width: 100px;
}
.frm-field-date .field-date-button {
  width: 40px;
}
.frm-field-date .btn-action-ico,
.frm-field-date .form-input {
  height: 30px;
}
.frm-field-date .form-input {
  text-align: center;
  font-size: 16px;
  padding: 0 5px;
  border-radius: 10px;
}
.frm-field-title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--clr-base);
  margin-bottom: 3px;
  padding-left: 10px;
}
.frm-row,
.frm-field,
.frm-row-submit {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
}
.frm-field {
  display: block;
  width: 100%;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
}
.frm-select label:before,
.frm-select label:after {
  content: "";
  display: block;
  position: absolute;
}
.frm-select {
  font-size: 14px;
  line-height: 20px;
}
.frm-select.select-main {
  max-width: 150px;
  margin: 0 auto;
}
.frm-select.select-main.select-main-row {
  max-width: 100%;
  text-align: left;
}
.frm-select.select-main.select-main-row .btn-action-ico.ico-del ~ label {
  padding-left: 60px;
}
.frm-select.select-main.select-main-row label {
  padding-left: 50px;
  padding-top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.frm-select.select-main.select-main-row label:before,
.frm-select.select-main.select-main-row label:after {
  top: 50%;
  left: 0;
  margin: -9px 0 0 0;
}
.frm-select.select-main.select-main-row .lbl-ico {
  width: 50px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
}
.frm-select.select-main.select-main-row .lbl-title {
  -ms-flex: 1;
      flex: 1;
  font-weight: 400;
  padding: 0 0 0 30px;
  text-align: left;
  margin: 0;
}
.frm-select.select-main.select-main-row .lbl-title-info {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 0 0 20px;
  max-width: 40%;
  text-align: right;
  margin: 0;
}
.frm-select.select-main input:checked ~ label:before {
  background-color: var(--clr-bg);
}
.frm-select.select-main input:checked ~ label:after {
  filter: var(--filter-white);
}
.frm-select.select-main input:checked ~ label .lbl-ico .image-active {
  opacity: 1;
}
.frm-select.select-main input:checked ~ label .lbl-ico .image-active ~ img,
.frm-select.select-main input:checked ~ label .lbl-ico .image-active ~ .svg {
  opacity: 0;
}
.frm-select.select-main label {
  min-height: 0;
  padding: 30px 0 0 0;
}
.frm-select.select-main label:before,
.frm-select.select-main label:after {
  left: 50%;
  top: 0;
  margin: 0 0 0 -50px;
}
.frm-select.select-main .lbl-title-info {
  color: var(--clr-att);
}
.frm-select.select-main .lbl-ico {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.frm-select.select-main .lbl-ico img,
.frm-select.select-main .lbl-ico svg {
  transition: all ease 0.2s;
}
.frm-select.select-main .lbl-ico .image-active {
  opacity: 0;
}
.frm-select.select-main .lbl-title {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin: 15px auto 0 auto;
  font-weight: bold;
}
.frm-select.select-att label:before {
  border-color: var(--clr-att);
}
.frm-select.select-att label:after {
  filter: var(--filter-white);
}
.frm-select.select-att input:checked ~ label:before {
  background-color: var(--clr-att);
}
.frm-select.select-large label {
  min-height: 40px;
  padding-left: 60px;
}
.frm-select.select-large label:before,
.frm-select.select-large label:after {
  width: 40px;
  height: 40px;
  margin-top: -20px;
}
.frm-select.select-large label:after {
  background-image: url(../img/icons/check.png);
  background-size: 110% auto;
}
.frm-select.select-large.select-clear {
  width: 40px;
  height: 40px;
}
.frm-select.select-large.select-clear label {
  width: 40px;
  height: 40px;
  padding-left: 0;
}
.frm-select.select-clear {
  width: 20px;
  height: 20px;
}
.frm-select.select-clear label {
  width: 20px;
  height: 20px;
  padding-left: 0;
}
.frm-select input:checked ~ label:after {
  opacity: 1;
}
.frm-select label {
  min-height: 20px;
  padding-left: 30px;
}
.frm-select label:before,
.frm-select label:after {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 2px solid var(--clr-bg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
}
.frm-select label:after {
  border-radius: 0;
  border: none;
  background: url(../img/icons/check-small.png) center no-repeat;
  background-size: 20px auto;
  opacity: 0;
  filter: var(--filter-dark);
}
.frm-select .btn-action-ico.ico-del {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: -8px;
  margin-top: -20px;
  z-index: 3;
  overflow: visible;
}
.frm-select .btn-action-ico.ico-del:after {
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -1000px;
  max-width: inherit;
  max-height: inherit;
}
.frm-select .btn-action-ico.ico-del ~ label:before,
.frm-select .btn-action-ico.ico-del ~ label:after {
  display: none;
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@keyframes flash {
  0% {
    opacity: 0.55;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.i,
[class*="icon-"] {
  display: block;
  transition: none;
}
.img-bg-cover,
.img-bg-contain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.img-bg-contain {
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@supports (object-fit: cover) {
  .img-bg-cover {
    height: 100%;
    object-fit: cover;
  }
}
@supports (object-fit: contain) {
  .img-bg-contain {
    height: 100%;
    object-fit: contain;
    max-width: inherit;
    max-height: inherit;
    right: auto;
    bottom: auto;
  }
}
.js-btn-popup-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  animation: fadein ease 0.3s;
}
.js-tab-block {
  animation: fadein ease 0.2s;
}
.js-tab-block:not(.active) {
  display: none;
}
.js-tab-block.tab-slider:not(.active) {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  height: 0;
  position: relative;
  overflow: hidden;
}
.items-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.items-wrap.show-all .item-wrap.wrap-hidden {
  display: block;
}
.items-wrap.show-all .wrap-more a:after {
  content: attr(data-hide);
}
.item-wrap {
  width: 100%;
  position: relative;
  break-inside: avoid-column;
  display: block;
  animation: fadein ease 0.2s;
}
.item-wrap.wrap-more ~ .item-wrap {
  display: none;
}
.item-wrap.wrap-more.active {
  display: none;
}
.item-wrap.wrap-more.active ~ .item-wrap {
  display: block;
}
.item-wrap.wrap-more a:after {
  content: attr(data-show);
}
.item-wrap.wrap-hidden {
  display: none;
  animation: fadein ease 0.2s;
}
.slider-wrap,
.slider,
.sl-wrap {
  position: relative;
  line-height: 1;
  display: block;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.slick-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  line-height: 1;
  text-align: center;
  font-size: 0;
  margin: 0;
}
.slick-dots li {
  margin: 0 5px 5px 0;
  padding: 0;
  display: block;
}
.slick-dots li:before {
  display: none;
}
.slick-dots li button {
  background: none;
  border: none;
  min-width: 0;
  padding: 0;
  box-shadow: none;
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C4C4C4;
}
.slick-dots li button:hover,
.slick-dots li button.active {
  background: var(--clr-att);
}
.slick-dots .slick-active button {
  background: var(--clr-att);
}
.tile-many-lines,
.text-many-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* 

add to head box

<style>
	.tile-many-lines, .text-many-lines {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
</style>

 */
.item-tile,
.tile-outer-wrap,
.tile-inner-wrap,
.tile-photo-wrap,
.tile-photos-wrap,
.tile-info-wrap,
.tile-text-wrap,
.tile-title-wrap,
.tile-desc-wrap,
.tile-actions-wrap,
.tile-action-wrap,
.tile-ico,
.tile-photo,
.tile-info,
.tile-text,
.tile-title,
.tile-desc {
  display: block;
  position: relative;
}
.tile-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  text-indent: -999px;
  font-size: 0;
  color: transparent;
}
.no-mbottom {
  margin-bottom: 0 !important;
}
.no-mtop {
  margin-top: 0 !important;
}
.no-pbottom {
  padding-bottom: 0 !important;
}
.no-ptop {
  padding-top: 0 !important;
}
.elm-hidden {
  display: none !important;
}
input.form-clear-autofill::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none !important;
  }
  .slick-dots li button:hover,
  .slick-dots li button.active {
    background-color: #c4c4c4;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none !important;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates Light'), local('MontserratAlternates-Light'), url('../fonts/MontserratAlternates-Light.woff2') format('woff2'), url('../fonts/MontserratAlternates-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'), url('../fonts/MontserratAlternates-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates Bold'), local('MontserratAlternates-Bold'), url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'), url('../fonts/MontserratAlternates-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates Medium'), local('MontserratAlternates-Medium'), url('../fonts/MontserratAlternates-Medium.woff2') format('woff2'), url('../fonts/MontserratAlternates-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates SemiBold'), local('MontserratAlternates-SemiBold'), url('../fonts/MontserratAlternates-SemiBold.woff2') format('woff2'), url('../fonts/MontserratAlternates-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
