/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.settings-form-box {
	margin-bottom: 8rem;
	padding-right: 7rem;
	.frm-row {
		margin: 0 -1.4rem;
		align-items: center;
		flex-wrap: nowrap;
	}
	.frm-field {
		padding: 0 1.4rem;
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 20px;
	}
	.field-number {
		width: 60px;
		text-align: center;
		color: var(--clr-att);
		padding: 0;
	}
	.field-move {
		width: 40px;
		padding: 0;
	}
	.field-main {
		flex: 1;
		width: auto;
	}
	.field-actions {
		display: flex;
		width: 150px;
		flex-shrink: 0;
		flex-wrap: nowrap;
	}
	.btn-action-ico {
		width: 60px;height: 40px;
		flex-shrink: 0;
	}
	.button-hidden {
		display: none;
	}
	.row-title {
		align-items: stretch;
		position: relative;
		margin-bottom: 20px;
		.frm-field {
			padding-bottom: 16px;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;left: 1.4rem;
			right: 1.4rem;
			height: 1px;
			background: var(--clr-base);
		}
		.frm-field {
			text-align: center;
			color: var(--clr-att);
		}
	}
	.form-input {
		text-align: center;
	}
}
.folders-list-box {
	padding-left: 6rem;
	margin: 7rem 0 2rem 0;
	&:first-child {
		margin-top: 0;
	}
	.list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		li {
			padding: 0 10px;
			flex-shrink: 0;
			width: 200px;
			width: clamp(170px, 14.28%, 200px);
			margin-bottom: 6rem;
		}
		&.list-rows {
			columns: 2;
			column-gap: 8rem;
			display: block;
			li {
				width: 100%;
				page-break-inside: avoid;
				break-inside: avoid-column;
				margin-bottom: 20px;
			}
		}
	}
}
.page-buttons-actions-box {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 5px;
	.buttons-inner-wrap {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		flex-shrink: 0;
	}
	.button-wrap {
		padding: 0 10px 0 0;
		margin-bottom: 15px;
		flex-shrink: 0;
		.btn {
			height: 70px;
			min-height: 100%;
			padding: 10px 20px;
			border-radius: 12px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.5;
			white-space: normal;
			width: 200px;
		}
	}
}
.page-buttons-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-top: 1px solid rgba(106, 106, 106, 0.50);
	border-bottom: 1px solid rgba(106, 106, 106, 0.50);
	margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
    padding-left: var(--paddingContainer);
    padding-right: var(--paddingContainer);
	padding-top: 9px;
	padding-bottom: 9px;
	margin-bottom: 40px;
	.check-inner-wrap {
		flex: 1;
		padding-left: 30px;
	}
	.buttons-inner-wrap {
		display: flex;
		flex-shrink: 0;
		max-width: 100%;
		flex-wrap: wrap;
		padding-right: 20px;
	}
	.button-wrap {
		padding: 0 30px;
		position: relative;
		flex-shrink: 0;
	}
	.btn-action-ico {
		width: 50px;
		height: 50px;
	}
}
.page-actions-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 5px;
	.nav-inner-wrap {
		display: flex;
		align-items: center;
		flex: 1;
		padding: 15px 0;
	}
	.buttons-inner-wrap {
		flex-shrink: 0;
		display: flex;
		flex-wrap: wrap;
		padding-right: 20px;
		.btn-action-ico {
			width: 50px;
			height: 50px;
		}
	}
	.button-wrap {
		padding: 0 30px;
		position: relative;
		flex-shrink: 0;
	}
	.nav-wrap, .title-wrap {
		padding: 0 20px 0 0;
		flex-shrink: 0;
		max-width: 100%;
	}
	.nav-wrap {
		.btn {
			font-size: 14px;
			font-weight: bold;
			padding: 0 22px 0 0;
			.button-ico {
				margin-right: 6px;
			}
		}
	}
}
@media (max-width: 1599px) {
	.settings-form-box {
		padding-right: 0;
		.field-move {
			width: 40px;
		}
	}
	.folders-list-box .list.list-rows {
		columns: 1;
	}
	.folders-list-box {
		padding-left: 0;
	}
	.page-buttons-box, .page-actions-box {
		.check-inner-wrap {
			padding-left: 0;
		}
		.buttons-inner-wrap {
			padding-right: 0;
		}
		.button-wrap {
			padding: 0 15px;
		}
	}
}
@media (max-width: 1399px) {
}